hr {
  display: block;
  height: 100%;
  border: 0;
  border-top: 1px solid #b0b0b0;
  margin: 1em 0;
  padding: 0;
}

h2 {
  margin-bottom: 1.5vh;
  margin-top: 1.5vh;
}

p {
  flex: 2 1 500px;
  font-variation-settings: "wght" var(--p2-weight);
  font-size: var(--p2-size);
  letter-spacing: normal;
  line-height: 1.75;
}

p strong {
  font-variation-settings: "wght" var(--p2-bold);
}

.about-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 2rem;
}

.intro {
  margin-bottom: 2vh;
}

.intro-info {
  flex: 1;
  max-width: 100%;
}

.intro-info h1 {
  font-size: 6vh;
}

.about-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: flex-start;
}

.intro-info p {
  flex: 2 1 500px;
  font-variation-settings: "wght" var(--p2-weight);
  font-size: 1.8vh;
  margin-top: 3vh;
  letter-spacing: normal;
  line-height: 1.75;
}

.intro-link {
  position: relative;
  color: var(--link-color);
  text-decoration: none;
}

.intro-link::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 1px;
  width: 0;
  background: var(--link-color);
  transition: width 0.4s ease;
}
.intro-link:hover::before {
  width: 100%;
}

.intro-image {
  float: right;
  flex-shrink: 0;
  width: 18vw;
  max-width: 50%;
  height: auto;
  margin: 2vh;
}

.intro-image img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.intro-image-title {
  font-size: 12px;
  color: gray;
}

.contact {
  width: 100%;
}

.contact-info-preview {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
}

.contact-info-card {
  margin: 10px;
  display: flex;
  justify-content: flex;
  border: 1px solid #b0b0b0;
  border-radius: 10px;
  background-color: #e1e1e1;
  transition: all 0.5s ease;
}

.contact-info-card:hover {
  border: 1px solid #000000;
}

.contact-info-card-logo {
  padding: 10px;
}

.contact-info-card-note {
  padding: 10px;
}

.contact-info-card-note h3 {
  padding-top: 5px;
  font-size: 1.5vh;
  color: black;
  text-decoration: none;
}

.contact-info-card-note a {
  color: inherit;
  text-decoration: none;
}

.current {
  width: 100%;
  padding-top: 30px;
}

.current-container {
  display: flex;
  padding-top: 3vh;
}

.current-container em {
  margin-bottom: 20px;
  font-variation-settings: "wght" var(--p2-weight);
  font-size: 1.8vh;
}

.current-container a {
  color: var(--link-color);
  text-decoration: none;
  margin-bottom: 20px;
  font-variation-settings: "wght" var(--p2-weight);
  font-size: 1.8vh;
  position: relative;
}

.current-container a::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 1px;
  width: 0;
  background: var(--link-color);
  transition: width 0.4s ease;
}

.current-container a:hover::before {
  width: 100%;
}

.current-container ul {
  font-variation-settings: "wght" var(--p2-weight);
  font-size: 1.8vh;
  line-height: 2.5vh;
}

.current-container li {
  margin: 2px 0;
}

.tools {
  width: 100%;
  padding-top: 30px;
}

.footer {
  width: 100%;
  padding-top: 30px;
}

@media (max-width: 768px) {
  .contact-info-preview {
    grid-template-columns: repeat(2, 1fr);
  }
}
