kbd {
  background-color: #ececec;
  border: 1px solid #cecece;
  border-radius: 0.25rem;
  box-shadow: 0 2px 0 1.5px #cecece;
  color: var(--color-text);
  cursor: default;
  display: inline-block;
  font-family: monospace;
  font-size: 0.75em;
  line-height: 1;
  margin: 0 2px;
  min-width: 0.75rem;
  padding: 3px 5px;
  position: relative;
  text-align: center;
  top: -1px;
  width: auto;
  text-transform: uppercase;
  transition: all 0.1s ease-in-out;
}

kbd:hover {
  box-shadow: 0 1.5px 0 1px #cecece;
  top: 1px;
}
