#utterances-comments {
  margin-top: 2rem;
  padding-top: 1rem;
}

html {
  scroll-behavior: smooth;
}

.page-layout {
  align-items: flex-start;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  gap: 2rem;
}
.page-layout a {
  color: var(--link-color);
  text-decoration: none;
  margin-bottom: 20px;
  font-variation-settings: "wght" var(--link-bold);
  position: relative;
}

.page-content {
  flex: 3;
  max-width: 100%;
}

.page-title {
  padding-bottom: 4vh;
}

.page-content p {
  font-size: 1rem;
  padding-bottom: 20px;
  letter-spacing: 0.02rem;
}

.page-content a {
  color: var(--link-color);
  text-decoration: none;
  position: relative;
}

.page-content a::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 1px;
  width: 0;
  background: var(--link-color);
  transition: width 0.4s ease;
}

.page-content a:hover::before {
  width: 100%;
}

.page-content-divide {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 2rem;
  margin-top: 2rem;
}

.page-content-divide-left {
  flex: 2;
}

.page-content-divide-right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-content-image-container {
  display: flex;
  flex-direction: column;
}

.page-content-divide-right img {
  width: 100%;
  max-width: 200px;
  height: auto;
}

.page-content-image-title {
  margin-top: 0.5rem;
  font-size: 12px;
  color: gray;
}

.page-content-divide ul {
  list-style-position: inside;
  padding: 0;
  margin: 0;
}

.page-content-divide li {
  line-height: 1.6;
  margin-bottom: 0.5rem;
  font-variation-settings: "wght" var(--p2-weight);
}

.page-content-divide li strong {
  font-variation-settings: "wght" var(--p2-bold);
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
  font-weight: bold;
}

@media (max-width: 768px) {
  .page-content-divide {
    flex-direction: column;
    align-items: center;
  }

  .page-content-divide-left {
    text-align: start;
  }

  .page-content-divide-right {
    margin-top: 1rem;
    align-items: center;
  }

  .page-content-divide-right img {
    max-width: 200px;
  }
}
