.App {
  text-align: center;
}

hr {
  display: block;
  height: 100%;
  border: 0;
  border-top: 1px solid #b0b0b0;
  margin: 1em 0;
  padding: 0;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 2rem 1rem;
  width: 100%;
  flex: 1;
}

.tab-container {
  margin-top: 7vh;
}
